body{
	margin:0px;
	padding: 0px;
	background-color: lightgrey; 
    font-family:  Times New Romans;
}
.navbar{
	margin: 0px ;
	background: #00316b;
	box-shadow : 0 0 40px grey;
}
#navbarNavAltMarkup .navbar-nav{
	align: center;
}
sub{
	text-transform:uppercase
}
.navbar-collapse{
	justify-content: flex-end;	
}
.icon{
	height: 20px;
	width: 20px;
	background: transparent;
}
p{
	font-family: Times New Roman;
}
span p{
	margin-top: 5px;
	margin-bottom: 5px;
}
p #L1{
	
	color: white;
}
p #L1:hover {
    color: black; /*#1d1f21;*/
    text-decoration: underline;
}
.softcard{
	background-color: #ADD8E6; /*#C0C0C0, #00316b;*/
	box-shadow : 0 0 20px grey;	
	border-radius: 5px;

}

footer{
	background: #00316b;
}

div .alert .alert-secondary {
	margin: 0px;
}
#p2{
	margin:50px 15px; 
	color: white;
}
.educate{
	/*display: inline-block;*/
	background: #ADD8E6; /*#C0C0C0, #00316b;*/
	box-shadow : 0 0 30px grey;
}
@media only screen and (max-width: 576px) { 
	.card{
		width:126px;
		height:240px;
		}
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
		...
	}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	...
	}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }





